[core]
  pager = delta
  editor = cursor --wait
  excludesfile = ~/.config/git/.gitignore

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  dark = true

[init]
	defaultBranch = main

[branch]
  sort = -committerdate

[fetch]
  prune = true

[include]
  path = ~/.config/git/user.gitconfig

[rerere]
  enabled = true

[rebase]
  autoStash = true
  autoSquash = true

[include]
  path = ~/.config/git/.gitaliases

[pull]
  rebase = true

[merge]
  summary = true
  conflictstyle = zdiff3

[push]
  default = current
  autoSetupRemote = true
  followTags = true

[diff]
  algorithm = histogram

[commit]
	template = ~/.config/git/.git-commit.tpl
	gpgSign = false
	verbose = true
